/* Styling the body element like body color and margin */
		body {
			background-image: url("wallpaper.jfif");
			margin: 20%;
		}
/* Styling the Title and giving shadow to the title */
		#title {
			text-align: center;
			text-shadow: 5px 5px 10px black;
			font-size: 7vh;
			color: aliceblue;
		}
/* Setting width and display type of image */
		img {
			display: inline-block;
			width: 90%;
		}
/* Setting font color and font size of the image-caption */
		#caption {
			font-size: 35px;
			font-family: Gill Sans;
			color: white;
			text-align: center;
		}
/* Styling the content of the page like-padding, font-size, font color etc.*/
		div#tribute-data {
			background-color: rgba(34, 86, 165, 0.877);
			box-shadow: 20px 20px 20px #98dcfb;
			font-family: Georgia;
			padding: 25px 25px;
			margin: 11px;
			margin-top: 50px;
		}
/* Styling the title of the content */
		h1.title-kalpana {
			font-size: 35px;
			color: white;
			text-align: center;
			text-shadow: 5px 5px 10px black;
		}
/* Styling the link provided at the end */
		* {box-sizing:border-box}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

	